.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1.5em;
}

.grid-container2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5em;
}

.form-container {
    border: 1px solid grey;
}

.overview3 {
    color: red;
}

.robot-image{
    height: 200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}